.fullbody {
  margin-left: 15%;
  padding: 5%;
  width: 70%;
  margin-bottom: 200px;
  font-family: Inter, sans-serif;
}

.icon {
  margin: 5px;
  /* background-color: aquamarine; */
}
.plusebutton {
  margin-left: 87%;
  color: rgb(184, 175, 175);
  position: relative;
  bottom: 79px;
  width: 10px;
  height: 30px;
}

.groupbox{
  border-radius: 8px;
  margin-top: -3rem !important;
  margin-left: 26%
}
.searchinput {
  width: 135%;
  border-radius: 5px;
  height: 35px;
  margin-bottom: 100px;
}
.addbutton {
  margin-left: 80%;
  width: 120px;
  position: relative;
  top: 46px;
}
.filterbutton {
  margin-left: 69%;
  margin-top: 10px;
}
.image {
  width: 90%;
  height: 400px;
}

/* .cardbody{
  width: 50%;
  margin-left:25% ;
  margin-bottom: 10%;
  margin-top: 7%;
}
.cardbodyone{
  width: 80%;
  margin-left: 10%;
} */

.date {
  position: relative;
  right: 25%;
  /* font-weight: bold; */
}

.new {
  position: relative;
  bottom: 40px;
  border: none;

}
.deteleicon {
  position: relative;
  left: 1%;
  top: 240px;
  
  color: red;
}

.dateandnew {
  position: relative;
  top: 25px;
}

.filterdropdown {
  width: 160%;
  /* height: 200px; */
  /* margin: 10px; */
  /* padding: 10px; */
}

.descrip{
  position: relative;
  bottom:  20px;
  width: 85%;
}
.editicon{
  position: relative;
  left: 3%;
  top: 240px;
  
}