.fullbody{
  margin-left: 15%;
  padding: 5%;
  width: 70%;
  margin-bottom: 200px;
  font-family: Inter, sans-serif;
}

.icon{
  margin: 5px;
  /* background-color: aquamarine; */
}
.plusebutton{
  margin-left: 87%;
  color: rgb(184, 175, 175) ;
  position: relative;
  bottom: 48px;
}
.searchinput{
  width: 135% ;
  border-radius: 5px;
  height: 35px;
  margin-bottom: 100px;
  
  
}
.addbutton{
  
  margin-left: 93%;
  /* margin-bottom: px; */
 position: relative;
top: 46px;
  
}
.filterbutton{
margin-left: 83%;
margin-top: 10px;


}
.image{
 width: 50%;
 height: auto;

}

/* .cardbody{
  width: 50%;
  margin-left:25% ;
  margin-bottom: 10%;
  margin-top: 7%;
}
.cardbodyone{
  width: 80%;
  margin-left: 10%;
} */

.date{
  position: relative;
  right: 25%;
  /* font-weight: bold; */
}

.new{
position: relative;
bottom: 40px;
border: none; 
background-color: #00ffbb !important;
color: hsla(0, 0%, 100%, 0.754) !important;
}
.deteleicon{
 position: relative;
 left: 85%;
 position: relative;
  bottom: 45px;
  color: red;
}

.dateandnew{
  position: relative;
  top: 25px;
}

.filterdropdown{
  width: 150%;
  height: 200px;
  /* margin: 10px; */
  padding: 10%;
}