.green{
  background-color: rgba(69, 150, 156, 0.346) !important;
  color: rgba(58, 119, 123, 0.95) !important;
}
.blue{
  background-color: rgba(5, 181, 76, 0.318) !important;
  color: rgba(7, 112, 49, 0.956) !important;
}
.yellow{
  background-color: rgba(255, 204, 137, 0.594) !important;
  color: rgba(253, 150, 14, 0.822) !important;
}

.large-checkbox {
  transform: scale(1.5); 
  margin-right: 5px; 
  border: none;
}